<div>
  <h1>Anime</h1>
<table>
    <tr>
      <th>Pictuer</th>
      <th>Name</th>
      <th>Written</th>
    </tr>
    <tr>
      <td><img src="../../assets/img/img2.jpg"> </td>
      <td>{{anime1}}</td>
      <td>{{anothor1}}</td>
    </tr>
    <tr>
        <td><img src="../../assets/img/img3.jpg"> </td>
        <td>{{anime2}}</td>
        <td>{{anothor2}}</td>
      </tr>
      <tr>
          <td><img src="../../assets/img/img4.jpg"> </td>
          <td>{{anime3}}</td>
          <td>{{anothor3}}</td>
        </tr>
        <tr>
            <td><img src="../../assets/img/img5.jpg"> </td>
            <td>{{anime4}}</td>
            <td>{{anothor4}}</td>
          </tr>
  </table>
</div>
